<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{client.ClientName}} Timeline</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ul>
    <li *ngFor="let e of events" (click)="eDetails(e)">
      <div class="bullet"></div>
      <div class="desc">
        <h3>{{e.EventType}}</h3>
        <h4>{{e.AgentName}}</h4>
        <h4>{{e.Response}}</h4>
        <h4>{{e.TimeStamp | date :'d LLL   h:m a'}}</h4>
      </div>
      <div margin-left>
        <ion-icon color="primary" padding-left name="ios-arrow-forward"></ion-icon>
      </div>
    </li>
  </ul> -->
  <ion-card *ngFor="let e of events" (click)="eDetails(e)">
    <ion-card-content>
      <ion-card-title>{{e.Client}}</ion-card-title>
      <p>{{e.EventType}}</p>
      <p>{{e.Response}}</p>
      <p>{{e.TimeStamp | date :'d LLL   h:m a'}}</p>
    </ion-card-content>
  </ion-card>


  <ion-fab bottom right>
    <button ion-fab (click)="gtAddEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>